html,body,button{
  font-family: 'Bebas Neue', cursive;
}

body {
  margin:0px;
  padding:0px;
  background-color: #333333;
}
.content{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #1c1c1c;
  display:grid;
  grid-template-rows: 1fr 3fr;
  width:500px;
  height:600px;
  padding: 20px;
  border-radius: 25px;
  font-family: 'Bebas Neue', cursive;
}

.inputGrid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.equal {
  grid-column: span 2;
}

.allClear {
  grid-column: span 2;
}

.display {
  display:grid;
  grid-template-rows: 1fr 1fr;
  background-color: #62F40C;
  margin-bottom: 20px;
}

.userInput {
  display:flex;
  justify-content: flex-end;
  align-self: center;
  padding:10px;
  font-size: 30px;
}

.result {
  display:flex;
  justify-content: flex-end;
  align-self: center;
  padding:10px;
  font-size: 30px;
}

.button {
  font-size: 30px;
  color: white;
  background-color: #1c1c1c;
}